*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.navbar{
    background-color: #A2A4FA;
    height: 30px;
}

.text-center{
    color: #A2A4FA;
    font-size: 70px;
    margin-top: 190px;
}

.form-control{
    text-align: center;
}

.position-absolute{
    margin-top: 400px;
}

.btn{
    background-color: #A2A4FA;
    color: #fff;
    border-color: #fff;
    border-radius: 40px;
    width: 200px;
    margin-top: 160px;
}

.btn:hover{
    background-color: #fff;
    color: #A2A4FA;
    border-color: #A2A4FA;
    transition: 0.4s;
}

footer{
    background-color: #A2A4FA;
    height: 30px;
    margin-top: 970px;
}